{% extends "news/base.html" %}
{% block categoryBlock %}
<ul class="menu fl">
    <li data-cid=""><a href="javascript:;">二手商城</a></li>
    <li data-cid=""><a href="javascript:;">新闻资讯</a></li>
    <li data-cid=""><a href="javascript:;">问答咨询</a></li>
    <li data-cid=""><a href="javascript:;">回收预约</a></li>
    <li data-cid=""><a href="javascript:;">租房查询</a></li>
</ul>
{% endblock %}
{% block cssBlock %}
<style>
    .rank_title {
        display: none;
    }
</style>
{% endblock %}

{% block contentBlock %}
    <div class="container">
        <h1>ccccccccc</h1>
    </div>
{% endblock %}